Repository BookitList/BookitList_backend, pull requests merged in 2024-02, with the labels that each got.

#59 [Feat] 한줄요약 조회 API 구현
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDto.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewResponse.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ✅ Test

#62 [Feat] 게시글 리스트 조회 기능을 구현한다.
  src/main/java/cotato/bookitlist/book/dto/response/BookListResponse.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/dto/response/PostListResponse.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#66 [Feat] 게시글 좋아요 기능 구현
  src/main/java/cotato/bookitlist/post/controller/PostLikeController.java
  src/main/java/cotato/bookitlist/post/domain/Post.java
  src/main/java/cotato/bookitlist/post/domain/PostLike.java
  src/main/java/cotato/bookitlist/post/repository/PostLikeRepository.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
Labels: ✨ Feat, ✅ Test

#68 [Feat] 책 상세 API 접근 시 DB에 없는 책도 가능한 기능 추가
  src/main/java/cotato/bookitlist/book/dto/BookDto.java
  src/main/java/cotato/bookitlist/book/service/BookApiComponent.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
Labels: ✨ Feat

#69 [Feat] 게시글 좋아요 취소 기능 구현
  src/main/java/cotato/bookitlist/post/controller/PostLikeController.java
  src/main/java/cotato/bookitlist/post/domain/Post.java
  src/main/java/cotato/bookitlist/post/domain/PostLike.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#72 [Feat] 한줄요약 리스트 조회 API 구현
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewCountResponse.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewListResponse.java
  src/main/java/cotato/bookitlist/review/repository/ReviewRepository.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#73 [Feat] 게시글 조회시 좋아요 유무 기능 추가하기
  build.gradle
  src/main/java/cotato/bookitlist/config/QueryDslConfig.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/domain/Post.java
  src/main/java/cotato/bookitlist/post/domain/PostLike.java
  src/main/java/cotato/bookitlist/post/dto/PostDto.java
  src/main/java/cotato/bookitlist/post/dto/response/PostListResponse.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#75 [Feat] 게시글 상세 조회시 생성일자 작성자 등의 추가 정보를 보내주는 기능 구현
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/dto/PostDetailDto.java
  src/main/java/cotato/bookitlist/post/dto/response/PostResponse.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
Labels: ✨ Feat, ✅ Test

#77 [Feat] 책 검색시 DB 검색을 제외하고 알라딘 api 활용으로 대체하기
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/dto/response/BookApiListResponse.java
  src/main/java/cotato/bookitlist/book/dto/response/BookApiResponse.java
  src/main/java/cotato/bookitlist/book/service/BookApiComponent.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
Labels: ✨ Feat, ✅ Test

#79 [Feat] 게시글, 한줄요약 등록 시 해당 책이 등록됐는지 검사 후 자동등록
  src/main/java/cotato/bookitlist/post/dto/requeset/PostRegisterRequest.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/dto/request/ReviewRegisterRequest.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ✅ Test

#81 [Feat] 데이터베이스의 ddl-auto 를 외부에서 주입하도록 변경
  .github/workflows/deploy.yaml
  src/main/resources/application.yaml
Labels: ✨ Feat

#82 [Feat] 게시글 조회수 기능 구현하기
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/domain/Post.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
Labels: ✨ Feat, ✅ Test

#86 [Feat] 알라딘 api 조회에서 한 페이지당 최대 책 수 조절 기능 추가
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/service/AladinComponent.java
  src/main/java/cotato/bookitlist/book/service/BookApiComponent.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
Labels: ✨ Feat, ✅ Test

#84 [Feat] S3를 활용하여 파일 업로드 기능 구현
  .github/workflows/deploy.yaml
  build.gradle
  src/main/java/cotato/bookitlist/common/exception/GlobalControllerAdvice.java
  src/main/java/cotato/bookitlist/config/AwsS3Config.java
  src/main/java/cotato/bookitlist/config/p6spy/P6SpyConfig.java
  src/main/java/cotato/bookitlist/config/p6spy/P6SpyEventListener.java
  src/main/java/cotato/bookitlist/config/p6spy/P6SpyFormatter.java
  src/main/java/cotato/bookitlist/file/service/FileService.java
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/main/java/cotato/bookitlist/member/domain/Member.java
  src/main/java/cotato/bookitlist/member/dto/ProfileResponse.java
  src/main/java/cotato/bookitlist/member/service/MemberService.java
  src/main/resources/application.yaml
Labels: ✨ Feat

#89 [Feat] S3를 활용하여 파일 업로드 기능 구현
  .github/workflows/deploy.yaml
Labels: 🐛 Fix, ✨ Feat

#91 [Fix] CI/CD 배포 실패 해결하기
  .github/workflows/deploy.yaml
  src/main/java/cotato/bookitlist/common/exception/GlobalControllerAdvice.java
Labels: 🐛 Fix

#93 [Fix] CI/CD 배포 실패 해결하기
  .github/workflows/deploy.yaml
  src/main/resources/application.yaml
Labels: 🐛 Fix, ✨ Feat

#96 [Feat] 책 좋아요 기능 구현하기
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/controller/BookLikeController.java
  src/main/java/cotato/bookitlist/book/domain/entity/Book.java
  src/main/java/cotato/bookitlist/book/domain/entity/BookLike.java
  src/main/java/cotato/bookitlist/book/dto/request/BookIsbn13Request.java
  src/main/java/cotato/bookitlist/book/repository/BookLikeRepository.java
  src/main/java/cotato/bookitlist/book/service/BookLikeService.java
  src/main/java/cotato/bookitlist/mark/domain/MarkBook.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
  src/test/java/cotato/bookitlist/book/controller/BookLikeControllerTest.java
  src/test/java/cotato/bookitlist/book/service/BookLikeServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#98 [Feat] 도서 좋아요 취소 api 구현
  src/main/java/cotato/bookitlist/book/controller/BookLikeController.java
  src/main/java/cotato/bookitlist/book/domain/entity/Book.java
  src/main/java/cotato/bookitlist/book/domain/entity/BookLike.java
  src/main/java/cotato/bookitlist/book/repository/BookLikeRepository.java
  src/main/java/cotato/bookitlist/book/service/BookLikeService.java
  src/test/java/cotato/bookitlist/book/controller/BookLikeControllerTest.java
  src/test/java/cotato/bookitlist/book/service/BookLikeServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#100 [Feat] 게시글 좋아요 등록시 이미 좋아요 정보가 존재하는지 확인 로직 추가
  src/main/java/cotato/bookitlist/post/controller/PostLikeController.java
  src/main/java/cotato/bookitlist/post/domain/PostLike.java
  src/main/java/cotato/bookitlist/post/repository/PostLikeRepository.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/test/java/cotato/bookitlist/book/controller/BookLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
Labels: ✨ Feat, ♻️ Refactor, ✅ Test

#102 [Feat] 게시글 좋아요 등록시 이미 좋아요 정보가 존재하는지 확인 로직 추가
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
Labels: 🐛 Fix, ✅ Test

#103 [Feat] 게시글 공개 비공개 설정 추가하기
  src/main/java/cotato/bookitlist/post/domain/PostStatus.java
  src/main/java/cotato/bookitlist/post/domain/entity/Post.java
  src/main/java/cotato/bookitlist/post/domain/entity/PostLike.java
  src/main/java/cotato/bookitlist/post/dto/PostDto.java
  src/main/java/cotato/bookitlist/post/dto/requeset/PostRegisterRequest.java
  src/main/java/cotato/bookitlist/post/dto/requeset/PostUpdateRequest.java
  src/main/java/cotato/bookitlist/post/dto/response/PostListResponse.java
  src/main/java/cotato/bookitlist/post/repository/PostLikeRepository.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#106 [Feat] 한줄요약 좋아요 기능 추가
  src/main/java/cotato/bookitlist/mark/domain/LikeReview.java
  src/main/java/cotato/bookitlist/post/dto/response/PostListResponse.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/controller/ReviewLikeController.java
  src/main/java/cotato/bookitlist/review/domain/Review.java
  src/main/java/cotato/bookitlist/review/domain/ReviewLike.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDetailDto.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDto.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewListResponse.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewResponse.java
  src/main/java/cotato/bookitlist/review/repository/ReviewLikeRepository.java
  src/main/java/cotato/bookitlist/review/repository/ReviewRepository.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewLikeService.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewLikeControllerTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewLikeServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ♻️ Refactor, ✅ Test

#109 [Feat] 한줄요약 조회수 기능 구현
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/domain/Review.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ✅ Test

#110 [Feat] 한줄요약 공개 비공개 설정 추가하기
  src/main/java/cotato/bookitlist/review/domain/ReviewStatus.java
  src/main/java/cotato/bookitlist/review/domain/entity/Review.java
  src/main/java/cotato/bookitlist/review/domain/entity/ReviewLike.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDto.java
  src/main/java/cotato/bookitlist/review/dto/request/ReviewRegisterRequest.java
  src/main/java/cotato/bookitlist/review/dto/request/ReviewUpdateRequest.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewListResponse.java
  src/main/java/cotato/bookitlist/review/repository/ReviewLikeRepository.java
  src/main/java/cotato/bookitlist/review/repository/ReviewRepository.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewLikeService.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewLikeServiceTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#114 [Feat] CORS 설정
  src/main/java/cotato/bookitlist/config/WebConfig.java
Labels: ✨ Feat

#116 [Feat] 게시글 삭제 api 구현
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/domain/entity/Post.java
  src/main/java/cotato/bookitlist/post/repository/PostLikeRepository.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/service/PostFacade.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostFacadeTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#118 [Feat] 유저 프로필 공개 비공개 기능 구현
  .github/workflows/deploy.yaml
  src/main/java/cotato/bookitlist/config/security/oauth/service/CustomOAuth2UserService.java
  src/main/java/cotato/bookitlist/mark/domain/FollowUser.java
  src/main/java/cotato/bookitlist/member/component/MemberComponent.java
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/main/java/cotato/bookitlist/member/domain/Member.java
  src/main/java/cotato/bookitlist/member/domain/ProfileStatus.java
  src/main/java/cotato/bookitlist/member/dto/MemberDto.java
  src/main/java/cotato/bookitlist/member/dto/response/MemberResponse.java
  src/main/java/cotato/bookitlist/member/dto/response/ProfileResponse.java
  src/main/java/cotato/bookitlist/member/service/MemberService.java
  src/main/resources/application.yaml
  src/test/java/cotato/bookitlist/book/service/BookLikeServiceTest.java
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewLikeServiceTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#120 [Feat] 테스트에 퍼져있는 create 문 Fixture로 모으기
  src/test/java/cotato/bookitlist/book/service/BookLikeServiceTest.java
  src/test/java/cotato/bookitlist/fixture/BookFixture.java
  src/test/java/cotato/bookitlist/fixture/BookLikeFixture.java
  src/test/java/cotato/bookitlist/fixture/MemberFixture.java
  src/test/java/cotato/bookitlist/fixture/PostFixture.java
  src/test/java/cotato/bookitlist/fixture/PostLikeFixture.java
  src/test/java/cotato/bookitlist/fixture/ReviewFixture.java
  src/test/java/cotato/bookitlist/fixture/ReviewLikeFixture.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewLikeServiceTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewServiceTest.java
Labels: ✨ Feat, ✅ Test

#121 [Feat] Access Token 검사 시 DB를 검사하지 않는 오류 수정
  src/main/java/cotato/bookitlist/auth/service/AuthService.java
  src/main/java/cotato/bookitlist/config/security/jwt/JwtAuthenticationFilter.java
  src/main/java/cotato/bookitlist/config/security/jwt/JwtTokenProvider.java
Labels: 🐛 Fix, ✨ Feat, ♻️ Refactor

#123 [Feat] 유저 프로필 비공개 시 게시물도 비공개 상태로 하는 기능 구현
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/main/java/cotato/bookitlist/member/domain/Member.java
  src/main/java/cotato/bookitlist/member/service/MemberService.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
  src/test/java/cotato/bookitlist/member/service/MemberServiceTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#124 [Feat] API에 사용하지 않는 book id 값 응답에서 삭제하기
  src/main/java/cotato/bookitlist/book/dto/BookDto.java
  src/main/java/cotato/bookitlist/book/dto/response/BookResponse.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
Labels: ✨ Feat, ♻️ Refactor

#127 [Feat] 한줄요약 삭제 API 구현
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/domain/entity/Review.java
  src/main/java/cotato/bookitlist/review/repository/ReviewLikeRepository.java
  src/main/java/cotato/bookitlist/review/repository/ReviewRepository.java
  src/main/java/cotato/bookitlist/review/service/ReviewFacade.java
  src/main/java/cotato/bookitlist/review/service/ReviewLikeService.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#130 [Feat] 한줄요약 테스트 실패 오류 해결
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: 🐛 Fix, ✅ Test

#128 [Feat] 유저 프로필 비공개 시 한줄요약도 비공개 상태로 하는 기능 구현
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/test/java/cotato/bookitlist/fixture/PostFixture.java
  src/test/java/cotato/bookitlist/fixture/ReviewFixture.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ♻️ Refactor

#134 [Fix] Access Token 검증 오류 해결
  src/main/java/cotato/bookitlist/auth/service/AuthService.java
Labels: 🐛 Fix

#135 [Feat] 멤버가 작성한 게시글 조회 api 구현하기
  src/main/java/cotato/bookitlist/book/annotation/IsbnValidator.java
  src/main/java/cotato/bookitlist/book/dto/request/BookIsbn13Request.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/dto/requeset/PostRegisterRequest.java
  src/main/java/cotato/bookitlist/post/dto/requeset/PostUpdateRequest.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
Labels: ✨ Feat, ✅ Test

#137 [Feat] 좋아요한 게시글 조회 api 구현
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#139 [Feat] 본인이 작성한 게시글에는 좋아요 못하게 하는 기능 구현
  src/main/java/cotato/bookitlist/post/domain/entity/Post.java
  src/main/java/cotato/bookitlist/post/service/PostLikeService.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostLikeServiceTest.java
Labels: ✨ Feat, ✅ Test

#141 [Feat] 내 게시글 조회 api 구현
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/dto/PostDetailDto.java
  src/main/java/cotato/bookitlist/post/dto/PostDto.java
  src/main/java/cotato/bookitlist/post/dto/response/PostDetailResponse.java
  src/main/java/cotato/bookitlist/post/dto/response/PostResponse.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/post/controller/PostLikeControllerTest.java
Labels: ✨ Feat, ✅ Test

#145 [Feat] 내가 찜한 책 조회 기능 구현
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/repository/BookRepository.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
Labels: ✨ Feat, ✅ Test

#146 [Feat] private 게시글 상세조회 기능 구현
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustom.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
Labels: ✨ Feat, ✅ Test

#149 [Feat] 책을 좋아요 했는지 확인 기능 구현
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/controller/BookLikeController.java
  src/main/java/cotato/bookitlist/book/domain/Book.java
  src/main/java/cotato/bookitlist/book/domain/BookLike.java
  src/main/java/cotato/bookitlist/book/dto/BookApiDto.java
  src/main/java/cotato/bookitlist/book/dto/BookDto.java
  src/main/java/cotato/bookitlist/book/dto/response/BookLikeResponse.java
  src/main/java/cotato/bookitlist/book/dto/response/BookListResponse.java
  src/main/java/cotato/bookitlist/book/redis/BookApiCache.java
  src/main/java/cotato/bookitlist/book/repository/BookApiCacheRepository.java
  src/main/java/cotato/bookitlist/book/repository/BookLikeRepository.java
  src/main/java/cotato/bookitlist/book/repository/BookRepository.java
  src/main/java/cotato/bookitlist/book/service/BookApiCacheService.java
  src/main/java/cotato/bookitlist/book/service/BookLikeService.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/main/java/cotato/bookitlist/mark/domain/ReadBook.java
  src/main/java/cotato/bookitlist/post/domain/entity/Post.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/domain/entity/Review.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
  src/test/java/cotato/bookitlist/book/controller/BookLikeControllerTest.java
  src/test/java/cotato/bookitlist/book/service/BookLikeServiceTest.java
  src/test/java/cotato/bookitlist/fixture/BookFixture.java
  src/test/java/cotato/bookitlist/fixture/BookLikeFixture.java
Labels: ✨ Feat, ✅ Test, 🧹 Chore

#150 [Feat] 한줄요약 리스트 응답 시 자세한 정보가 아닌 간략한 정보를 응답하는 부분 수정
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDetailDto.java
  src/main/java/cotato/bookitlist/review/dto/ReviewDto.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewDetailResponse.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewListResponse.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewResponse.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
Labels: ✨ Feat

#152 [Feat] 유저 닉네임 변경 api 구현
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/main/java/cotato/bookitlist/member/domain/Member.java
  src/main/java/cotato/bookitlist/member/dto/request/NameChangeRequest.java
  src/main/java/cotato/bookitlist/member/service/MemberService.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/dto/request/PostRegisterRequest.java
  src/main/java/cotato/bookitlist/post/dto/request/PostUpdateRequest.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
  src/test/java/cotato/bookitlist/member/service/MemberServiceTest.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
Labels: ✨ Feat, ✅ Test

#154 [Feat] 홈 화면과 관련된 API 구현
  src/main/java/cotato/bookitlist/book/controller/BookController.java
  src/main/java/cotato/bookitlist/book/dto/response/BookRecommendListResponse.java
  src/main/java/cotato/bookitlist/book/dto/response/BookRecommendResponse.java
  src/main/java/cotato/bookitlist/book/repository/BookRepository.java
  src/main/java/cotato/bookitlist/book/service/BookService.java
  src/main/java/cotato/bookitlist/common/domain/RecommendType.java
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/main/java/cotato/bookitlist/member/domain/Member.java
  src/main/java/cotato/bookitlist/member/dto/MemberDto.java
  src/main/java/cotato/bookitlist/member/dto/response/MemberRecommendListResponse.java
  src/main/java/cotato/bookitlist/member/dto/response/MemberRecommendResponse.java
  src/main/java/cotato/bookitlist/member/repository/MemberRepository.java
  src/main/java/cotato/bookitlist/member/service/MemberService.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/repository/PostRepository.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/main/resources/application.yaml
  src/test/java/cotato/bookitlist/book/controller/BookControllerTest.java
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
  src/test/java/cotato/bookitlist/member/service/MemberServiceTest.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ♻️ Refactor, ✅ Test

#157 [Fix] MySQL 설정에 따른 테이블명 대소문자 구분 오류 수정
  src/main/java/cotato/bookitlist/book/repository/BookRepository.java
Labels: 🐛 Fix

#159 [Feat] 홈화면 하단 기록가 추천 API 설계 변경
  src/main/java/cotato/bookitlist/config/WebConfig.java
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
Labels: ♻️ Refactor

#160 [Feat] 홈화면 하단 기록가 추천 API 설계 변경에 따라 테스트 변경
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
Labels: 🐛 Fix

#162 [Feat] querydsl 사용 쿼리 정렬 기능 추가
  src/main/java/cotato/bookitlist/book/domain/BookLike.java
  src/main/java/cotato/bookitlist/book/repository/BookRepository.java
  src/main/java/cotato/bookitlist/post/domain/entity/PostLike.java
  src/main/java/cotato/bookitlist/post/repository/querydsl/PostRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/domain/entity/ReviewLike.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/test/java/cotato/bookitlist/book/controller/BookLikeControllerTest.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/resources/data.sql
Labels: ✨ Feat, ✅ Test

#168 [Feat] 멤버가 작성한 한줄요약 조회 API 구현
  src/main/java/cotato/bookitlist/member/dto/MemberDto.java
  src/main/java/cotato/bookitlist/member/dto/response/MemberResponse.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ✅ Test

#170 [Feat] 내가 좋아요한 한줄요약 조회 API 구현
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/domain/entity/Review.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewLikeService.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewLikeControllerTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewLikeServiceTest.java
Labels: ✨ Feat, ♻️ Refactor, ✅ Test

#171 [Feat] 본인의 정보를 조회하는 api 구현
  src/main/java/cotato/bookitlist/config/security/SecurityConfig.java
  src/main/java/cotato/bookitlist/member/controller/MemberController.java
  src/test/java/cotato/bookitlist/member/controller/MemberControllerTest.java
Labels: ✨ Feat, ✅ Test

#172 [Feat] 내가 쓴 한줄요약 API 구현
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/repository/ReviewRepository.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: ✨ Feat, ♻️ Refactor, ✅ Test

#173 [Feat] private 한줄요약 상세조회 API 테스트 구현
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/resources/data.sql
Labels: ♻️ Refactor, ✅ Test

#174 [Feat] 책의 좋아요가 가장 많은 베스트 한줄요약 조회 API 구현
  src/main/java/cotato/bookitlist/mark/domain/ReadBook.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewSimpleResponse.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustom.java
  src/main/java/cotato/bookitlist/review/repository/querydsl/ReviewRepositoryCustomImpl.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
Labels: 🐛 Fix, ✨ Feat, ♻️ Refactor, ✅ Test

#178 [Feat] 게시글, 한줄요약 status 변경 api 구현
  src/main/java/cotato/bookitlist/post/controller/PostController.java
  src/main/java/cotato/bookitlist/post/domain/entity/Post.java
  src/main/java/cotato/bookitlist/post/service/PostService.java
  src/main/java/cotato/bookitlist/review/controller/ReviewController.java
  src/main/java/cotato/bookitlist/review/domain/entity/Review.java
  src/main/java/cotato/bookitlist/review/service/ReviewService.java
  src/test/java/cotato/bookitlist/fixture/ReviewFixture.java
  src/test/java/cotato/bookitlist/post/controller/PostControllerTest.java
  src/test/java/cotato/bookitlist/post/service/PostServiceTest.java
  src/test/java/cotato/bookitlist/review/controller/ReviewControllerTest.java
  src/test/java/cotato/bookitlist/review/service/ReviewServiceTest.java
Labels: ✨ Feat, ✅ Test

#179 [Feat] status 응답 변수명 통일
  src/main/java/cotato/bookitlist/post/dto/response/PostDetailResponse.java
  src/main/java/cotato/bookitlist/post/dto/response/PostResponse.java
  src/main/java/cotato/bookitlist/review/dto/response/ReviewDetailResponse.java
Labels: ♻️ Refactor

#185 [Fix] 네이버 로그인 attribute 이름 재설정
  src/main/java/cotato/bookitlist/config/security/oauth/NaverOAuth2User.java
Labels: 🐛 Fix
